extends layout

block content
  h1= title
  p Собираем твиты с заданными словами и публикуем их при помощи Backbone.
  ul#tweets

  script#tweet-template(type="text/template")
    h2.name <%= username %>
    p.tweet <%= text %>