doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/scripts/jquery/dist/jquery.min.js")
    script(src="/scripts/underscore/underscore-min.js")
    script(src="/scripts/backbone/backbone-min.js")
    script(src="/javascripts/helpers.js")
    script(src="/javascripts/twitter_handling.js")
    script(src="/javascripts/tweet_model.js")
    script(src="/javascripts/tweets_collection.js")
    script(src="/javascripts/tweets_view.js")
    script(src="/javascripts/tweet_view.js")
    script(src="/javascripts/app.js")
